



.footer {
    background: #828282;
    color: white;
    padding-top: 60px;
    .container {
        display: flex;
        justify-content: space-between;
        }


        .newYork, .florida, .cali {
            p {
                line-height: 1.5;
            }
        }
    }

    input[type=email] {
        padding-top: 7px;
        padding-bottom: 7px;
        padding-right: 40%;
    }

    
      #copyright {
          text-align: center;
          padding-top: 30px;
          padding-bottom: 10px;
      }
    
      span {
          font-weight: bold;  
      }

      .small {
        font-size: 1.2rem;
    }