
* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }

  h2 {
      font-size: 2.0rem;
  }

  h3 {
      font-size: 1.8rem;
  }

  p {
      font-size: 1.4rem;
  }

  li {
      font-size: 1.6rem;
  }

