
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightslategrey;
    height: 50px;
    

    h1 {
        font-size: 2.4rem;
        color: #fff;
        margin-left: 40px;   
    
    }
    
    .hamburger {
        margin-right: 40px;

        .menu-button {
            cursor: pointer;
        }
    }
}



// Home Page Content

.top {
    position: relative;

  img {
      width: 100%;
      display: block;
  }

  h2 {
      font-size: 5.4rem;
      position: absolute;
      bottom: 10%;
      left: 6%; 
      color: white;   
      line-height: 1.2;  
  }

}




// Main Content

.main {
    margin-top: 50px;
    border: 1px solid black;
    .middle {
        display: flex;
    
        
        

        .midText {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;
            
            
                p {
                    margin-top: 20px;
                }
                .learn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid black;
                    font-size: 1.4rem;
                    border-radius: 3px;
                    height: 30px;
                    margin-top: 20px;
                    background: white;
                    cursor: pointer;
                    width: 40%;
                }
              
        }
        .midImg {
            flex: 1;
            
            
        }
    }
}