
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightslategrey;
    height: 50px;
    

    h1 {
        font-size: 2.4rem;
        color: #fff;
        margin-left: 40px;   
    
    }
    
    .hamburger {
        margin-right: 40px;

        .menu-button {
            cursor: pointer;
        }
    }
}